body, html {
	background-color: #EDEDED !important;
}
/*Clases Heredables*/
.text-uppercase {
	text-transform: uppercase;
}
.text-secondary {
	color: #FFFFFF;
}
.text-primary {
	color: #000000;
}
.section-title {
	padding-top: 3.5rem;
}
.section-title h6{
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.section-title hr {
	width: 3rem;
}
/*HEADER*/
header {
	position: relative;
	display: flex;
	height: 650px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
}
header .name{
	font-size: 4rem;
}
header h6{
	padding: 1rem;
	background-color: #FFFFFF;
}
/*SECCIÓN ABOUT ME*/
.about-me .container{
	padding-top: 3.5rem;
}
.about-me .section-body h6{
	margin-bottom: 3rem;
}
.about-me .profile {
	padding-top: 24px;
}
/*PORTFOLIO CODIGO DE DANA*/
.portfolio {
	background-color: #FFFFFF;
}
.portfolio .container-img {
	padding: 0;
}
.portfolio .container-img img{
	width: 100%;
}
/*MEDIA QUERY*/
@media (min-width: 0){
	header {
		background-size: 1412px;
		background-position-x: -255px;
	}
	.portfolio .container-img img{
		height: 80px;
	}
}
@media (min-width: 992px), (min-width: 1200px) {
	header {
	background-size: cover;
	background-position: center;
	}
	.portfolio .container-img img{
		height: 200px;
	}
}
