body, html {
	background-color: #EDEDED !important;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 10px;
}
/*Clases Heredables*/
.text-uppercase {
	text-transform: uppercase;
}
.text-secondary {
	color: #FFFFFF;
}
.text-primary {
	color: #000000;
}
header {
	position: relative;
	display: flex;
	/*background-image: url(../img/bg.jpg);*/
	height: 650px;
	/*background-repeat: no-repeat;*/
 	/*background-size: 100% 100%;*/
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}
header .static-background{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
}
header .static-background img{
	/*position: absolute;*/
	height: 100%;
	width: 100%;
	/*top: 0;
	left: 0;*/
}
header .row {
	z-index: 2;
}
header .name{
	font-size: 4.9rem;
}
header h5{
	padding: 1rem;
	background-color: #FFFFFF;
}
@media (min-width: 0px) {
	header .static-background img{

	}
}
@media (min-width: 960px) {
	header .static-background img{

	}
}
@media (min-width:1000px){
	header .static-background img{
	
	}
}
